BasedOnStyle: webkit
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Right
TabWidth: 4
UseTab: Never
SortIncludes: true
NamespaceIndentation: None
FixNamespaceComments: true
