name: clang-format check

#on:
#  push:
#    branches: [ "master" ]
#  pull_request:
#    types: [ opened, synchronize ]
on: [push, pull_request]

jobs:
  formatting-check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Formatting Check (Source)
      uses: jidicula/clang-format-action@v4.3.1
      with:
        clang-format-version: '13'
        check-path: 'source'
        fallback-style: 'webkit'
