name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3
    - name: dependencies
      run: sudo apt-get install qmake6 qt6-base-dev
    - name: configure
      run: qmake6 source/D1GraphicsTool.pro
    - name: make
      run: make -j $(nproc)
    - name: Upload-Package
      if: ${{ !env.ACT }}
      uses: actions/upload-artifact@v2
      with:
        name: D1GraphicsTool
        path: D1GraphicsTool
