name: Windows

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '6.2.4'
        cache: 'true'

    - name: Configure
      run: cmake -S. -Bbuild -DCMAKE_BUILD_TYPE=RelWithDebInfo

    - name: Make
      run: cmake --build build -j $(nproc)

    - name: Package
      run: |
        mkdir dist
        copy build\Debug\D1GraphicsTool.exe dist
        cd dist
        windeployqt D1GraphicsTool.exe --no-compiler-runtime --no-opengl-sw --no-system-d3d-compiler --no-virtualkeyboard --no-translations --no-quick-import
      shell: cmd

    - name: Upload
      if: ${{ !env.ACT }}
      uses: actions/upload-artifact@v2
      with:
        name: D1GraphicsTool-Windows-x64
        path: dist
